:root {
  --default-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --primary-color: #409EFF;
  --success-color: #67C23A;
  --warning-color: #E6A23C;
  --danger-color: #F56C6C;
  --main-color: #303133;
  --normal-color: #606266;
  --info-color: #909399;
  --placeholder-color: #C0C4CC;
  --border-color: #DCDFE6;
}
